html, body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}
h1{
    font-weight: 800;
    color: #faf5f0;
}
.about-heading{
    color: #AAA096;
}
a {
    text-decoration: none;
}
hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #AAA096;  /* old IE */
    background-color: #AAA096;  /* Modern Browsers */
}
.w3-top, #menu-icon, #header-color {
    background-color: #AAA096;
}
.w3-bar-item{
    height: 9.6%;
}
.menu-title{
    margin-left: -4%;
}
.header-img{
    margin-top: 4.5%;
    height:550px;
}
header{
    display: inline;
}
.w3-wide{
    letter-spacing: 2px;
}
.w3-ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #fff;
}
.w3-bar-block .w3-bar-item {padding:20px}
h1 {
    text-align: center;
    margin-top: 0.5%;
}
.bold-text{
    font-weight: 900;
}
.light-text{
    font-weight: 300;
}
footer{
    background-color: #aaa0962e;
    position:relative;
    bottom: 0;
}
.copyright:before {
    content: " \00A9";
}
ul{
    list-style: none;
    padding-left: 0;
}
.product-info {
    padding-top: 2%;
    padding-bottom: 5%;
}
.product-img {
    margin-top: 1.5%;
    position: relative;
}
#product-img-1, #product-img-2, #product-img-3, #product-img-4, #product-img-5, #product-img-6, #product-img-7, #product-img-8, #product-img-9{
    position: relative;
    top: 0;
    left: 0;
}
.product-img-carousel{
    margin-top: 7%;
    cursor: pointer;
    padding-bottom: 3.5%;
}
.product-desc{
    font-size: 20px;
    margin-top: 3.5%;
}
.enquire-btn{
    text-decoration: underline;
    text-underline-offset: 8px;
}
.w3-hoverable tbody tr:hover, .w3-ul.w3-hoverable li:hover {
    background-color:#aaa0962e;
}
