html, body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}
h1{
    font-weight: 800;
    color: #faf5f0;
}
.w3-top, #menu-icon, #header-color {
    background-color: #AAA096;
}
.w3-bar-item{
    height: 9.6%;
}
.w3-bar-block .w3-bar-item {padding:20px}
h1 {
    text-align: center;
    margin-top: 0.5%;
}
.bold-text{
    font-weight: 900;
}
.light-text{
    font-weight: 300;
}
footer{
    background-color: #aaa0962e;
}
.copyright:before {
    content: " \00A9";
}
ul{
    list-style: none;
    padding-left: 0;
}

.product-content{
    margin-left: 15%;
}

.product-img-carousel{
    margin-top: 7%;
}
.product-img {
    margin-top: 3%;
    position: relative;
}

#product-img-1{
    position: relative;
    top: 0;
    left: 0;
}
#product-img-2{
    position: absolute;
    top: 0;
    left: 0;
}
#product-img-3{
    position: absolute;
    top: 0;
    left: 0;
  }

.product-desc{
    margin-left: 7%;
    font-size: 20px;
}

